/* songs.component.scss */
body {
  margin: 0;
  background-color: #121212;
  color: #fff;
}

h1 {
  font-family: "Anton SC", sans-serif;
  color: #fff;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  color: #ccc;
}

iframe {
  width: 100%;
  border-radius: 12px;
}

.btn {
  height: 50px;
  width: 150px;
}

.reference {
  font-family: 'Roboto', sans-serif; /* Reemplaza 'YourNumberFont' con la fuente deseada */
  color: #f39c12; /* Color opcional para destacar los números */
  font-style: italic; /* Opcional: hacer que el número se vea como una referencia */
  font-weight: bold; /* Opcional: hacer que el número se vea como una referencia */
}
