body {
    margin: 0;
    background-color: #121212;
    color: #fff;
}

.text-container {
    margin-top: 20px;
}

.text-line {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 10px;
}

.buttons {
    text-align: center;
}

.buttons .btn {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
}

@media (max-width: 768px) {
    .buttons .btn {
        width: 100%;
    }
}
