<div class="modal-header">
    <h5 class="modal-title">Error Log</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <ul>
        <li *ngFor="let error of errorLogs">{{ error }}</li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-danger clear-errors" (click)="clearErrors()">Clear Errors</button>
    <button type="button" class="btn btn-primary" (click)="activeModal.close()">Close</button>
</div>