.modal-content {
    background-color: #fff;
    color: #000;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-body {
    max-height: 300px;
    overflow-y: auto;
}

li {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

h5 {
    list-style: none;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 700;
}
