.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexFila {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.textoCentrado {
    margin: auto;
    text-align: center;
}

.cabecera {
    margin: auto;
    height: 20%;
    width: 98%;
}

.aciertos,
.fallos {
    height: 15%;
}

.imagenAciertos,
.imagenFallos {
    height: 78%;
    width: 80%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.imagenAciertos {
    margin-top: 10px;
    size: 100%;
    background-image: url("../../../assets/imagenAciertos.png");
}

.imagenFallos {
    margin-top: 10px;
    background-image: url("../../../assets/imagenFallos.png");
}

.numeroAciertos,
.numeroFallos {
    font-size: 40px;
}

.filaPuntuacionesAciertos {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 49%;
    height: 60%;
    border: 1px solid green;
    border-radius: 10px;
}

.filaPuntuacionesFallos {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 49%;
    height: 60%;
    border: 1px solid red;
    border-radius: 10px;
}

.contenido {
    height: 70%;
}

.contenedorInformacion {
    width: 50%;
}

.contenedorParaAhorcado {
    width: 38%;
    height: 444px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 20px;
}

.inputParaLetra {
    width: 60%;
    margin: auto;
}

.mensaje {
    font-size: larger;
    width: 60%;
}

.botonReiniciar {
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.panelGanador,
.panelPerdedor {
    width: 100%;
    height: 15%;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
}

.panelGanador {
    background-color: rgba(161, 224, 175, 0.5);
    border: 1px solid green;
}

.panelPerdedor {
    background-color: rgba(224, 161, 161, 0.5);
    border: 1px solid red;
    color: red;
}

@media (max-width: 1200px) {
    .flexFila {
        flex-direction: column;
    }

    .filaPuntuacionesAciertos,
    .filaPuntuacionesFallos {
        width: 100%;
    }

    .contenedorInformacion,
    .contenedorParaAhorcado {
        width: 100%;
    }

    .contenedorParaAhorcado {
        height: 300px;
        margin-top: 20px;
    }

    .imagenAciertos,
    .imagenFallos {
        height: 60%;
        width: 60%;
        background-size: contain;
        margin: auto;
    }
}

@media (max-width: 992px) {
    .numeroAciertos,
    .numeroFallos {
        font-size: 30px;
    }

    .botonReiniciar {
        width: 80%;
    }

    .inputParaLetra {
        width: 80%;
        margin-bottom: 20px;
    }

    .mensaje {
        width: 80%;
    }

    .contenedorParaAhorcado {
        height: 250px;
        margin-top: 20px;
    }

    .imagenAciertos,
    .imagenFallos {
        height: 50%;
        width: 50%;
        background-size: contain;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .numeroAciertos,
    .numeroFallos {
        font-size: 20px;
    }

    .botonReiniciar {
        width: 100%;
    }

    .inputParaLetra {
        width: 100%;
        margin-bottom: 20px;
    }

    .mensaje {
        width: 100%;
    }

    .contenedorParaAhorcado {
        height: 200px;
        margin-top: 20px;
    }

    .imagenAciertos,
    .imagenFallos {
        height: 100%;
        width: 50%;
        background-size: contain;
        margin: auto;
    }

    .filaPuntuacionesAciertos,
    .filaPuntuacionesFallos {
        height: 50%;
    }

    .botonReiniciar {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        align-items: center;
    }

    .panelGanador,
    .panelPerdedor {
        width: 100%;
        height: 10%;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        position: absolute;
        left: 0;
        right: 0;
    }
}
