<h1 class="textoCentrado">Ahorcado</h1>
<hr>
<div *ngIf="!juegoTerminado" class="flexColumn">
    <h4 class="textoCentrado mt-1 mb-1">La palabra tiene {{ palabraOculta.length }} letras</h4>
    <div class="cabecera flexColumn">
        <div class="flexFila filaPuntuaciones">
            <div class="flexFila filaPuntuacionesAciertos">
                <div class="flexColumn">
                    <div class="aciertos textoCentrado">Aciertos</div>
                    <div class="imagenAciertos"></div>
                </div>
                <div class="numeroAciertos flexColumn">{{ numeroAciertos }}</div>
            </div>
            <div class="flexFila filaPuntuacionesFallos">
                <div class="flexColumn">
                    <div class="fallos textoCentrado">Fallos</div>
                    <div class="imagenFallos"></div>
                </div>
                <div class="numeroFallos flexColumn">{{ numeroFallos }}</div>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="contenido flexFila">
    <div *ngIf="!juegoTerminado" class="contenedorInformacion flexColumn">
        <h2 class="textoCentrado">{{ juegoTerminado && panelPerdedor ? 'La palabra era:' : 'Palabra Oculta' }}</h2>
        <h2 class="palabraAdivinar textoCentrado">{{ juegoTerminado && panelPerdedor ? palabraOculta : palabraVisible }}
        </h2>
        <h4 class="textoCentrado mt-2">Introduce letra</h4>
        <input type="text" class="form-control inputParaLetra mt-2" placeholder="Letra" required
            [(ngModel)]="letraElegida" (keyup)="analizarLetra()" [disabled]="juegoTerminado" autofocus />
        <h2>{{ letraElegida }}</h2>
        <div class="mensaje textoCentrado">{{ mensaje }}</div>
        <button type="button" class="btn btn-dark botonReiniciar flexFila" (click)="reiniciarJuego()">Reiniciar</button>
        <button *ngIf="mostrarCambiarPalabra" type="button" class="btn btn-dark botonReiniciar flexFila mt-2"
            (click)="cambiarPalabra()">Cambiar
            palabra</button>
    </div>
    <div *ngIf="numeroFallos > 0" class="contenedorParaAhorcado textoCentrado"
        [style.backgroundImage]="'url(' + imagenAhorcado + ')'"></div>
</div>
<button *ngIf="juegoTerminado" type="button" class="btn btn-dark mt-5 me-2"
    (click)="reiniciarJuego()">Reiniciar</button>
<button (click)="goToPage('/home')" type="button" class="btn btn-dark mt-5">Volver</button>
<div *ngIf="panelGanador" class="panelGanador textoCentrado mt-5 ">¡GANASTE!</div>
<div *ngIf="panelPerdedor" class="panelPerdedor textoCentrado mt-5">¡PERDISTE!</div>